{% extends 'base.html' %}

{% block content %}
    {% for town in user_town %}
        <h2>{{ town.name }}
    {% endfor %}
    <br>
    defence: {{ defence }}
    </h2>
    <h3>Buildings:</h3>
    {% for building in building_list %}
        <br>
            <b>{{ building.building_type.name }}</b>;
            needs ap: {{ building.building_type.cost }};
            current ap: {{ building.ap }}
        <form action="" method="post">
            {% csrf_token %}
            change to: {{ form }}
            <input type="submit" value="Submit" />
        </form>
    {% endfor %}
{% endblock %}